<div id="home_index">
  <header>
    <div class="container">
      <div class="fa fa-lemon-o" style="font-size: 60px; margin-top: 5px"></div>
      <div class="pull-right">
        <button class="btn btn-default btn-lg">Sign In</button>
      </div>
    </div>
  </header>
  <section class="homepage-header">
    <div class="wrapper-full container">
      <h1>Yes! Wonderful Lemoners, Creative Team!</h1>
    </div>
    <div class="announcement text-center">
      <i class="fa fa-slack"></i> Just Do IT!
    </div>
  </section>
  <section class="homepage-panel">
    <div class="container">
    </div>
  </section>
  <section class="homepage-panel">
    <div class="container"></div>
  </section>
  <footer></footer>
</div>