<div class="clearfix">
  <ul class="nav nav-pills center-block pull-right">
    <li class="<%= 'active' if action_name=='index' %>"><%= link_to "#{t 'breadcrumbs.admin.apps.index'}", admin_apps_url %> </li>
    <li class="<%= 'active' if action_name=='new' %>"><%= link_to "#{t 'breadcrumbs.admin.apps.new'}", action: :new %> </li>
  </ul>
</div>